<li class="nav-item dropdown dropdown-user no-caret" *ngIf="userService.user$ | async as user" ngbDropdown
    placement="bottom-right" display="dynamic">
    <a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button"
        aria-haspopup="true" aria-expanded="false">
        <fa-icon [icon]='["fas", "user"]'></fa-icon>
    </a>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownUser">
     
        <a class="dropdown-item" routerLink="/auth/login">Logout</a>      
        <a class="dropdown-item" routerLink="/auth/register">New User</a>
    </div>
</li>
